img {
  height: 80px; 
  border-radius: 50%;
}

button {
  background-color: #50d2c2;
  width: 100%;
  color: #fff;
}

 a.back-login {
  color: #afafaf;
  text-decoration: none;
  font-size: 13px;
  margin-left: 8px;
}

p {
  text-align: center;
  & span {
    font-size: 12px;
    color: #c0c0c0;
  }
}